/*CoursesList-> .card{
  margin-left: 30px;
  display: inline-block;
  border:2px solid #222;
  border-radius:8px;
  height:300px;
  width:300px;
  margin-bottom : 30px;
  background-color:whitesmoke;
}
.card img{
  background-color: #222;
  width:100%;
  height:100px;
}
.card h3,p,button{
  margin-left:70px;
} */
/* Products list*/
.card{
  display : inline-block;
  border:2px solid #222;
  height : 400px;
  width : 360px;
  margin-left : 30px;
  margin-top : 30px;
  margin-bottom : 30px;
}
.card:hover{
  cursor: pointer;
}
.card img{
  width : 100%;
  height : 150px;

}
.card h3,p,button{
 margin-left : 50px;
}
.addList{
  border-radius: 20px;
  margin-top: 200px;
  margin-left: 500px;
  align-items: center;
  width : 600px;
  height : 330px;
  border : 2px solid #222;
  display: flex;
  flex-direction: column;
  position : relative;
}
.addListElements{
  padding:15px;
  display: flex;
}
.addListElements div{
  margin-left: 0px;
}
.addListElements input {
  
  margin-left:20px;
  margin-right: 0px;
  width : 400px;
  height : 30px;
  
}

 